<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>CSV File</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.comma-separated-values-text</string>
			</array>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>csv</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>icon.icns</string>
		</dict>
	</array>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>public.comma-separated-values-text</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.text</string>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Comma-Separated Values</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>csv</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>text/csv</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
